.rentalEvaluationContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: lightblue;
    padding: 5px;
    /* flex-direction: column; */
}

.rentalInput{
    display: flex;
    align-items: center;

}
.rentalEvaluationContainer .rentalInput, .rentalEvaluationContainer .rentalPrediction {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px black;
    background-color: gray;
    min-width: 500px;
    min-height: 600px;
    width: 49%;
    margin: 5px;
}

.rentalEvaluationContainer h1, .rentalEvaluationContainer form {
    width: 100%;
}

.guestCount, .propertyTypes, .cancellationPolicies {
    width:100%;
    display: flex;
}

.guestIcon {
    width:50px;
    height:50px;
}

.rentalEvaluationContainer .selected {
    fill: blue;
}

.propertyTypes .propertyTypeIcon {
    width:50px;
    height:50px;    
}

.extraGuestFee {
    
}

.cancellationPolicies {
    
}

.cancellationPolicy {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.cancellationPolicy.selected {
    display: inline;
    background: blue;
}
.bathroomCount {
    display: flex;
}

.bathroomIcon {
    width: 50px;
    height: 50px;
}

.bathroomIcon.selected {
    display: inline;
    background: blue;
}

.bedroomCount {
    display: flex;
}
.bedroomIcon  {
    width: 50px;
    height: 50px;
}

.nightStayCount {
    display: flex;
}
.nightsIcon {
    width: 50px;
    height: 50px;
}
.nightsIcon.selected {    
    fill: blue;
}