.rentalEvaluationContainer {
    display: flex;
    align-items: center;
    padding: 5px;
    /* flex-direction: column; */
}

.rentalInput{
    display: flex;
    align-items: center;
}
.rentalEvaluationContainer .rentalInput, .rentalEvaluationContainer .rentalPrediction {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px black;
    background-color: rgb(139, 155, 140);
    min-width: 600px;
    min-height: 500px;
    /* width: 100%; */
    margin: 5px;
}

.rentalEvaluationContainer h1, .rentalEvaluationContainer form {
    width: 100%;    
}
.guestCount, .propertyTypes, .cancellationPolicies {
    width:100%;
    display: flex;
}

.rentalEvaluationContainer .selected {
    fill: blue;
}

.cancellationPolicy {
    display: inline-block;
    color:rgb(139, 155, 140);
    border: 1px solid black;
    font-size: 0.9em;
}

.cancellationPolicy.selected {
    background: blue;
}
.bedroomCount, .nightStayCount, .cleaningFee, .bathroomCount, .securityDepositContainer {
    display: flex;
}

.rentalEvaluationContainer .icon, .cancellationPolicy {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.hidden {
    display: none !important;
}

.wizardNav {
    display:flex;
    margin: 10px;
}

.wizardNav button {    
    margin-left: 60px;
    margin-right: 60px;
}
.wizardNav button:disabled {
    background-color:darkgray;
    border: 1px darkgray;
}
.wizardSection {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
}

.instructions {
    font-size: 2em;
}


